body {
    text-transform: uppercase;
    font-family: 'Antic', cursive;
    letter-spacing: 5px;
}
.jumbotron{
    background-image: url("../Bilder/pond.jpg");
    background-size: cover;
    height: 375px;
}
.navbar{
    background-color: rgba(0,0,0,0.50);
}
.nav li{
    border-right: 1px solid white;
}
.navi{
    color: white;
}
.title {
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 7px rgba(0,0,0,1);
    margin-top:50px;
}
.row{
    padding:80px 120px;
}
