body {
    text-transform: uppercase;
    font-family: 'Antic', cursive;
    letter-spacing: 5px;
}
.jumbotron{
    background-image: url('Bilder/pond.jpg');
    height: 375px;
}
.navbar{
    background-color: rgba(0,0,0,0.50);
}
.nav li{
    border-left: 1px solid white;
    padding: 10px;
}
.nav.navbar-nav li a{
    color: white;
}
.title {
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
    margin-top:50px;
}
.row{
    padding:80px 120px;
}
footer{
    background-color: silver;
    height: 30px;
    color: white;
    text-align: center;
}